body{
    background-color: #333;
    font-family: monospace;
    margin: 0;
    color: rgb(18, 252, 88);
}

h2{
    font-size: 1.25em;
}

.container-header{
    background-color: rgb(24, 25, 26);
    width: 100%;
    min-height: 60px;
    height: 8%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 2px 2px;
    font-family: monospace;
}

header{
    margin-top: 28px;
    margin-left: 30px;
}

.container-presentation{
    background-color: rgb(8, 8, 8);
    padding-top: 90px;  
    width: 100%;
    padding-left: 15px;
    padding-bottom: 10px;
}

.presentation-text{
    width: 50%;
}

.photo{
    border-radius: 50%;
    width: 35vh;
    height: 35vh;
    min-width: 200px;
    min-height: 200px;
}
figcaption{
    width: 40%;
}

.container-lists{
    height: 40vh;
    padding: 10px;
    min-height: 60px;
    background-color: rgb(52, 53, 54);
}

.container-footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 5%;
    background-color: rgb(32, 33, 34);
}

.link-img{
    height: 30px;
    width: 30px;
}